#root{
  display: flex;
  justify-content: center;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

h2{
  margin: 10px 0;
}

p{
  margin: 10px 0px;
}

button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  color: #323131;
}